body {
	margin: 0;
	background-color: #FFF5EE;
}
div ul {
	margin: 0 auto 0 auto;
	border: 1px solid gray;
}
div ul li {
	display: inline;
	margin-right: 180px;
}
#top {
	position: fixed;
	width: 72.3%;
	background-color: #FFF5EE;
    left: 50%;  /* ?? */
    transform: translate(-50%, 0);  /* ?? */
}
#logo {
	font-size: 36px;
}
#logoImg {
	margin-top: 0;
}
#container	 {
	width: 70%;
	height: 330px;
	margin: 20px auto 0 auto;
	background-color: white;
	border: 1px solid black;
	padding: 5px 15px 75px 15px;
	border-radius: 15px;
}
#clear-all {
	margin-left: 15px;
}
#message-input {
	width: 60%;
	font-size: 1em;
}
#message-board {
	margin-top: 20px;
	height: 150px;
	font-size: 1em;
	overflow: scroll;
}
#checkboxes {
	margin-left: 15%;
}
#checkboxes:last-child {
	margin-left: 130px;
	color: blue;
}



